<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestion-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
        <div class="row">
            <h1>Gestor de Clientes</h1>
        </div>
        <div class="row">
            <button type="button" on-click="obtenerClientes" class="btn btn-success">Obtener Clientes</button>
        </div>
        <div class="row">
            <table class="table table-hover">
              <tbody>
                <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>
                      [[item.idCliente]]
                    </td>
                    <td>
                      [[item.nombre]]
                    </td>
                    <td>
                      [[item.apellido]]
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestionClientes extends Polymer.Element {
      static get is() { return 'gestion-clientes'; }
      static get properties() {
        return {
            clientes: {
                type: Array,
                notify: true,
                value: ()=>{
                    return{}
                }    
            },
            url: {
                type: String,
                value: 'http://localhost:3002/Clientes'
            }
        };
      }

      obtenerClientes(){
        let request = new XMLHttpRequest();
        request.open("GET", this.url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        
        this.set('clientes', JSON.parse(request.responseText))
      }
    }

    window.customElements.define(GestionClientes.is, GestionClientes);
  </script>
</dom-module>
